body{
    background-color: #FEFFE3;
    color: #000000;
    background-image: url("michael-brandt-nK01_Z9dKqI-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hometittle{
    font-size: 80px;
    /* font-family: 'Roboto'; */
    font-family: 'KoHo';
    text-align: center;
    margin-top: 10%;
}

.rectangle{
    /* height: 7%;
    width: 4%; */
    height: 250px;
    width: 55px;
    background-color: #FEFFE3;
    text-align: left;
    /* margin-top: 50%; */
    /* margin-bottom: 50%; */
    float: left;
    border-radius: 26px;
    margin-left: 54px;
}

.iconsmenu{
    size: 100%;
    color: dark;
    vertical-align: middle;
}